// font size

$card-text-fz: 20px;

$card-text-fz-mobile: 16px;

$card-title-fz: 26px;

$card-title-fz-mobile: 22px;

// colors

$primary-color: #093D88;

$primary-color-light: #4b9ed7;

$gradient: linear-gradient(93.92deg, #4B9ED7 13.08%, #093D88 129.55%);

$secondary-color: #E2E2E2;

$secondary-color-opacity: rgba(226, 226, 226, 0.5);

$question-color: #4B9ED7;

$question-active-color: #E9E9E9;

$contrasr-color: #ffffff;

$black-color: #000000;

// font-family

$font-family-light: "Qanelas Light";

$font-family-regular: "Qanelas Regular";

$font-family-medium: "Qanelas Medium";

$font-family-semibold: "Qanelas SemiBold";

$font-family-bold: "Qanelas Bold";